.ultimas-noticias{
    font-family: inter;

    .noticias-title{
        font-size: 0.8em;
    }

    h1{
        margin-bottom: 20px;
        text-align: center;
    }

    img{
        border-radius: 0%;
    }
}

